.__find-font__ {
  font: 400 16px Arial, Helvetica, sans-serif;
  color: #000;

  cursor: pointer;
  position: fixed;
  z-index: 9999999;
  top: 20px;
  right: 20px;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  width: 75px;
  padding: 5px 0;
  margin: 0;
  text-align: center;
  border-radius: 5px;
}

.__find-font__ div {
  color: #000;
}

.__font__ {
  font: 400 16px Arial, Helvetica, sans-serif;
  background: #000;
  position: absolute;
  z-index: 9999999;

  background: rgba(255, 255, 255, 0.42);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  width: 150px;
  padding: 10px;
  margin: 0;
  color: #000;
  word-break: break-all;
}

@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.__font-description__ {
  animation: show-up 500ms ease-in-out forwards;
  cursor: default;
  font: 400 16px Arial, Helvetica, sans-serif;
  color: #000;
  z-index: 9999998;

  position: absolute;

  display: block;
  width: 320px;
  border-radius: 5px;
  padding: 20px;

  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.__font-description__ header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.__font-description__ header h2 {
  font: 600 20px Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.__font-description__ header button {
  cursor: pointer;
  color: #000;
  font-size: 24px;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

.__font-description__ .infos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
  margin-top: 30px;
}

.__font-description__ .infos dl {
  width: max-content;
  margin: 0;
  padding: 0;
}

.__font-description__ .infos dt {
  font: 400 14px Arial, Helvetica, sans-serif;
  color: #222222;
}

.__font-description__ .infos dd {
  color: #000;
  font: 600 16px Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  font-weight: bold;
  margin: 5px 0 0 0;
}
